@inject IBananaService bananaService
@implements IDisposable
<div class="top-menu">
    <img src="icons/banana.png" />
    <span class="popover-header">
        @bananaService.Bananas
    </span>
    <AddBananas />
</div>

@code {

    protected override void OnInitialized()
    {
        bananaService.OnChange += StateHasChanged;

    }

    public void Dispose()
    {
        bananaService.OnChange -= StateHasChanged;
    }

}
