@page "/battlelog"
@inject IBattleService battleService

<h3>Battle Log</h3>
<ul class="list-group">
    @foreach(var round in battleService.LastBattle.Log)
    {
        <li class="@GetClass(round)">@round</li>
    }
</ul>

@code {
    public string GetClass(string round)
    {
        if (round.ToLower().Contains("kills"))
        {
            return "list-group-item list-group-item-danger";
        }
        else
        {
            return "list-group-item";
        }
    }
}
